<?xml version="1.0" encoding="utf-8"?>
<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  package="jp.co.qsdn.android.qlogger"
  android:versionCode="1"
  android:versionName="@string/version"
  android:installLocation="auto"
  >
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.READ_LOGS" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

  <!-- for adMob -->
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

  <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="13" />
  <application
    android:icon="@drawable/icon"
    android:configChanges="orientation"
    android:label="@string/app_name">
    <activity
      android:name=".view.ActivityDashboard"
      android:theme="@style/DashboardTheme.Light"
      android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <action android:name="android.intent.action.DASHBOARD" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name=".view.ActivityRebootLog"
      android:theme="@style/CustomTheme2.Light"
      android:label="@string/app_name">
    </activity>
    <activity
      android:name=".view.ActivityRebootLogSetting"
      android:theme="@style/CustomTheme2.Light"
      android:label="@string/app_name">
    </activity>
    <activity
      android:name=".view.ActivityLogcat"
      android:theme="@style/CustomTheme2.Light"
      android:label="@string/app_name">
    </activity>
    <activity
      android:name=".view.ActivityLogcatSetting"
      android:theme="@style/CustomTheme2.Light"
      android:label="@string/app_name">
    </activity>
    <activity
      android:name=".view.ActivityLogcatSetting_Filter"
      android:theme="@style/CustomTheme2.Light"
      android:label="@string/app_name">
    </activity>
    <activity
      android:name=".view.ActivityLogcatSetting_Color"
      android:theme="@style/CustomTheme2.Light"
      android:label="@string/app_name">
    </activity>
    <activity
      android:name=".view.ActivityErrorLog"
      android:theme="@style/CustomTheme2.Light"
      android:label="@string/app_name">
    </activity>
    <activity
      android:name=".view.ActivityErrorLogDetail"
      android:theme="@style/CustomTheme2.Light"
      android:label="@string/app_name">
    </activity>
    <activity
      android:name=".view.ActivityErrorLogSetting"
      android:theme="@style/CustomTheme2.Light"
      android:label="@string/app_name">
    </activity>
    <activity
      android:name=".view.ActivityBatteryLog"
      android:theme="@style/CustomTheme2.Light"
      android:label="@string/app_name">
    </activity>
    <activity
      android:name=".view.ActivityBatteryLogGraph"
      android:theme="@style/CustomTheme2.Light"
      android:label="@string/app_name">
    </activity>
    <activity
      android:name=".view.ActivityBatteryLogSetting"
      android:theme="@style/CustomTheme2.Light"
      android:label="@string/app_name">
    </activity>
    <activity
      android:name=".view.ActivityScreenLog"
      android:theme="@style/CustomTheme2.Light"
      android:label="@string/app_name">
    </activity>
    <activity
      android:name=".view.ActivityScreenLogSetting"
      android:theme="@style/CustomTheme2.Light"
      android:label="@string/app_name">
    </activity>
    <activity
      android:name=".view.ActivityScreenLogHistory"
      android:theme="@style/CustomTheme2.Light"
      android:label="@string/app_name">
    </activity>
    <activity
      android:name=".view.ActivityScreenLogHistoryGraph"
      android:theme="@style/CustomTheme2.Light"
      android:label="@string/app_name">
    </activity>
    <activity
      android:name=".view.ActivityScreenHourlyLog"
      android:theme="@style/CustomTheme2.Light"
      android:label="@string/app_name">
    </activity>
    <activity
      android:name=".view.ActivityScreenHourlyLogGraph"
      android:theme="@style/CustomTheme2.Light"
      android:label="@string/app_name">
    </activity>
    <activity
      android:name=".view.ActivityScreenDailyLog"
      android:theme="@style/CustomTheme2.Light"
      android:label="@string/app_name">
    </activity>
    <activity
      android:name=".view.ActivityScreenDailyLogGraph"
      android:theme="@style/CustomTheme2.Light"
      android:label="@string/app_name">
    </activity>
    <activity
      android:name=".view.ActivityScreenMonthlyLog"
      android:theme="@style/CustomTheme2.Light"
      android:label="@string/app_name">
    </activity>
    <activity
      android:name=".view.ActivityScreenMonthlyLogGraph"
      android:theme="@style/CustomTheme2.Light"
      android:label="@string/app_name">
    </activity>
    <activity
      android:name=".view.ActivityLoadAvgLog"
      android:theme="@style/CustomTheme2.Light"
      android:label="@string/app_name">
    </activity>
    <activity
      android:name=".view.ActivityLoadAvgLogGraph"
      android:theme="@style/CustomTheme2.Light"
      android:label="@string/app_name">
    </activity>
    <activity
      android:name=".view.ActivityLoadAvgLogSetting"
      android:theme="@style/CustomTheme2.Light"
      android:label="@string/app_name">
    </activity>
    <activity
      android:name=".view.ActivityCpuUtilizationLog"
      android:theme="@style/CustomTheme2.Light"
      android:label="@string/app_name">
    </activity>
    <activity
      android:name=".view.ActivityCpuUtilizationLogGraph"
      android:theme="@style/CustomTheme2.Light"
      android:label="@string/app_name">
    </activity>
    <activity
      android:name=".view.ActivityCpuUtilizationLogSetting"
      android:theme="@style/CustomTheme2.Light"
      android:label="@string/app_name">
    </activity>
    <activity
      android:name=".view.ActivityMemUtilizationLog"
      android:theme="@style/CustomTheme2.Light"
      android:label="@string/app_name">
    </activity>
    <activity
      android:name=".view.ActivityMemUtilizationLogGraph"
      android:theme="@style/CustomTheme2.Light"
      android:label="@string/app_name">
    </activity>
    <activity
      android:name=".view.ActivityMemUtilizationLogSetting"
      android:theme="@style/CustomTheme2.Light"
      android:label="@string/app_name">
    </activity>
    <activity
      android:name=".view.ActivityNetStatLog"
      android:theme="@style/CustomTheme2.Light"
      android:label="@string/app_name">
    </activity>
    <activity
      android:name=".view.ActivityNetStatLogGraph"
      android:theme="@style/CustomTheme2.Light"
      android:label="@string/app_name">
    </activity>
    <activity
      android:name=".view.ActivityNetStatLogSetting"
      android:theme="@style/CustomTheme2.Light"
      android:label="@string/app_name">
    </activity>
    <activity
      android:name=".view.ActivityAbout"
      android:theme="@style/CustomTheme2.Light"
      android:label="@string/app_name">
    </activity>
    <activity
      android:name="com.google.ads.AdActivity"
      android:configChanges="keyboard|keyboardHidden|screenLayout|orientation|uiMode|screenSize|smallestScreenSize"
      />
    <receiver android:name=".BootCompletedReceiver">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </receiver>
    <receiver android:name=".BatteryChangedReceiver" />
    <receiver android:name=".BatteryLoggerReceiver" />
    <receiver android:name=".ScreenHourlyLoggerReceiver" />
    <receiver android:name=".ScreenDailyLoggerReceiver" />
    <receiver android:name=".ScreenMonthlyLoggerReceiver" />
    <receiver android:name=".LogDeleteReceiver" />
    <receiver android:name=".LoadAvgLoggerReceiver" />
    <receiver android:name=".CpuUtilizationLoggerReceiver" />
    <receiver android:name=".MemUtilizationLoggerReceiver" />
    <receiver android:name=".NetStatLoggerReceiver" />
    <service
      android:name=".LogcatService"
      android:exported="true"
      android:launchMode="singleTask"
    />
    <service
      android:name=".QLoggerReceiverService"
      android:launchMode="singleTask"
    />
    <service
      android:name=".RecordBootCompletedService"
      android:launchMode="singleTask"
    />
    <service
      android:name=".RecordBatteryLogService"
    />
    <service
      android:name=".RecordScreenHourlyLogService"
    />
    <service
      android:name=".RecordScreenDailyLogService"
    />
    <service
      android:name=".RecordScreenMonthlyLogService"
    />
    <service
      android:name=".DeleteLogService"
    />
    <service
      android:name=".RecordLoadAvgLogService"
    />
    <service
      android:name=".RecordCpuUtilizationLogService"
    />
    <service
      android:name=".RecordMemUtilizationLogService"
    />
    <service
      android:name=".RecordNetStatLogService"
    />
    <provider
      android:name=".provider.RebootLogProvider"
      android:authorities="jp.co.qsdn.android.qlogger.provider.RebootLog" 
      />
    <provider
      android:name=".provider.ErrorLogProvider"
      android:authorities="jp.co.qsdn.android.qlogger.provider.ErrorLog" 
      />
    <provider
      android:name=".provider.BatteryLogProvider"
      android:authorities="jp.co.qsdn.android.qlogger.provider.BatteryLog" 
      />
    <provider
      android:name=".provider.ScreenLogProvider"
      android:authorities="jp.co.qsdn.android.qlogger.provider.ScreenLog" 
      />
    <provider
      android:name=".provider.ScreenHourlyLogProvider"
      android:authorities="jp.co.qsdn.android.qlogger.provider.ScreenHourlyLog" 
      />
    <provider
      android:name=".provider.ScreenDailyLogProvider"
      android:authorities="jp.co.qsdn.android.qlogger.provider.ScreenDailyLog" 
      />
    <provider
      android:name=".provider.ScreenMonthlyLogProvider"
      android:authorities="jp.co.qsdn.android.qlogger.provider.ScreenMonthlyLog" 
      />
    <provider
      android:name=".provider.LoadAvgLogProvider"
      android:authorities="jp.co.qsdn.android.qlogger.provider.LoadAvgLog" 
      />
    <provider
      android:name=".provider.TempCpuUtilizationLogProvider"
      android:authorities="jp.co.qsdn.android.qlogger.provider.TempCpuUtilizationLog" 
      />
    <provider
      android:name=".provider.CpuUtilizationLogProvider"
      android:authorities="jp.co.qsdn.android.qlogger.provider.CpuUtilizationLog" 
      />
    <provider
      android:name=".provider.MemUtilizationLogProvider"
      android:authorities="jp.co.qsdn.android.qlogger.provider.MemUtilizationLog" 
      />
    <provider
      android:name=".provider.TempNetStatLogProvider"
      android:authorities="jp.co.qsdn.android.qlogger.provider.TempNetStatLog" 
      />
    <provider
      android:name=".provider.NetStatLogProvider"
      android:authorities="jp.co.qsdn.android.qlogger.provider.NetStatLog" 
      />
  </application>
</manifest> 
